In [ ]:
print("Hello World")

Hello World

In [ ]:

number = 1
number2 = 10
print("Number 1 =", number, ", Number 2 = ",
      number2, ", Addition = ", number+number2)

Number 1 = 1 , Number 2 =  10 , Addition =  11

In [ ]:
a, b, c = 5, 3.2, 'Hello'

print(a)  # prints 5
print(b)  # prints 3.2
print(c)  # prints Hello

5
3.2
Hello

In [ ]:
patient_name = "John Smith"
age = 20
is_patient = True

print("Patient Name is", patient_name , ", His age is ",age, "and, He is serious", is_patient)

Patient Name is John Smith , His age is  20 and, He is serious True

Input

In [ ]:
patient_name = input("Patient Name ? ")
age = input("Patient AGE ? ")
is_patient = input("Recovered ? ")

print("Patient Name is", patient_name, ", His age is ",
      age, "and, He is serious", is_patient)

Patient Name ? Josh
Patient AGE ? 23
Recovered ? False
Patient Name is Josh , His age is  23 and, He is serious False

Type Conversion

int()
float()
str()
bool()

In [ ]:

first_num = input("Num 1 = " )
second_num = input("Num 2 = " ) 

'''
ALSO

first_num = float(input("Num 1 = " ))
second_num = float(input("Num 2 = " )) 
sum = first_num + second_num

'''

sum = float(first_num) + float(second_num)
print("Sum = " + str(sum))

Num 1 = 20
Num 2 = 21
Sum = 41.0

Strings ( & Capabilties or methods)

replace()
upper()
capitalized()
casefold()
center()
count()
encode()
endswith()
expandtabs()

In [ ]:
string = str(input("Enter a String : "))
print("Replace(par1 , par2) : ", string.replace("ullah" , "Kahttana"))
print("Upper() : ", string.upper())
print("Lower() : ", string.lower())
print("Find() : ", string.find("a"))
print("In : ", "Ibad" in string )

Enter a String : Ibadullah Kahttana
Replace(par1 , par2) :  IbadKahttana Kahttana
Upper() :  IBADULLAH KAHTTANA
Lower() :  ibadullah kahttana
Find() :  2
In :  True

Python Namespace and Scope
Global() 
Outer()
Inner()

In [ ]:
# global_var is in the global namespace
global_var = 10
def outer_function():
    #  outer_var is in the local namespace 
    outer_var = 20
    def inner_function():
        #  inner_var is in the nested local namespace 
        inner_var = 30
        print(inner_var)
    print(outer_var)
    inner_function()

# print the value of the global variable
print(global_var)

# call the outer function and print local and nested local variables
outer_function()

10
20
30

In [ ]:
dict_weather = { 'Monday' : 'cloudy' ,'Tuesday' : 'sunny' ,'Wednesday' : 'PartialyCloudy' ,'Thursday' : 'PartialyCloudy' ,'Friday' : 'WetWeather' ,'Saturday' : 'cloudy' , 'Sunday' : 'Sunny' }

PredictWeather = dict_weather['Monday']
print(PredictWeather)

#dictionary sortes
customers = ['Kaley Fernandez', 'Darius Rowland', 'Isaac Borthwick',  'Alexandria Kidd']
sorted_customers = sorted(customers)
print(sorted_customers)

print("Sorted Dict" , sorted(dict_weather))

cloudy
['Alexandria Kidd', 'Darius Rowland', 'Isaac Borthwick', 'Kaley Fernandez']
Sorted Dict ['Friday', 'Monday', 'Saturday', 'Sunday', 'Thursday', 'Tuesday', 'Wednesday']

BMI Example <br>
round()
upper()

In [ ]:
weight = float (input("Weight: "))
unit = input("(K)g or (Lbs):")
if unit.upper() == "K":
  converted = weight/0.45
  print("Weight in kgs:", round(converted,1))
elif unit.upper() == "L":
  converted = weight * 0.45
  print("Weight in lbs:", round(converted,1))

Weight: 90.5
(K)g or (Lbs):k
Weight in kgs: 201.1

While Loop

In [ ]:
'''we can multiply a number by a string  ( 1 * 'a') correct
   but we cannot concatinate a number with a string (1 + 'a') wrong '''
i = 1
while i<5:
  print(i * 2 * '*')   
  i = i+1

**
****
******
********

**Multiplicatin Table**
Uisng for loop

In [ ]:
table_of = int(input("Enter Table of = "))
table_finalValue = int(input("Enter Table upto = "))

for x in range(1,table_finalValue):
  mulitpliedValue = table_of * x
  #print(table_of , "*" , x , "=" , mulitpliedValue)
  print(str(table_of) + "*" + str(x) + "=" + str(mulitpliedValue))



for x in range(table_finalValue , 0 , -1):
  mulitpliedValue = table_of * x
  #print(table_of , "*" , x , "=" , mulitpliedValue)
  print(str(table_of) + "*" + str(x) + "=" + str(mulitpliedValue))

Write a program to greet all the person names stored in a list l1 and which starts with S

l1 = ["Harry" , "Sahan" , "Sachin" , "Rahul"]

In [ ]:
l1 = ["Harry" , "Sahan" , "Sachin" , "Rahul"]
for x in range(0, len(l1)):
  if(l1[x].startswith('S')):
    print("Hello " + str(l1[x]))
  else:
    print("Bye " + str(l1[x]))

print("\n")

#method 2 simple
l1 = ["Harry" , "Sahan" , "Sachin" , "Rahul"]
for x in l1:
  if x.startswith('S'):
    print("Hello " + x)
  else:
    print("Bye " + x)

Bye Harry
Hello Sahan
Hello Sachin
Bye Rahul


Bye Harry
Hello Sahan
Hello Sachin
Bye Rahul

Multiplicatio table using while loop
<br>
f string used

In [ ]:
table_of = int(input("Enter Table of = "))
table_finalValue = int(input("Enter Table upto = "))
x = 1

while x < table_finalValue:
  mulitpliedValue = table_of * x
  #print(str(table_of) + "*" + str() + "=" + str(mulitpliedValue))
  # Using f String
  print(f"{table_of}x{x}={mulitpliedValue}")
  x=x+1

Enter Table of = 5
Enter Table upto = 10
5x1=5
5x2=10
5x3=15
5x4=20
5x5=25
5x6=30
5x7=35
5x8=40
5x9=45

Check weather the number is prime or not

In [ ]:
num = int(input("Enter a number = "))
prime = True

if(num%2 == 0 and num!=2):
  prime = False
  print(f"{num} is not Prime")
else:
    print(f"{num} is Prime")

Enter a number = 4
4 is not Prime

Program to find sum of first n natural numbers

In [ ]:
num = int(input("Enter n number = "))
x = 0
sum = 0
while x <= num:
  sum = sum + x
  x = x+1

print(f"Total sum : {sum}")

Enter n number = 6
Total sum : 21

Favtorial of a number

In [ ]:
num = int(input("Enter a number = "))
factorialValue = 1
factList = []

for i in range(1,num+1):
  factorialValue = factorialValue * num
  print(f"{num} * ")
  factList.append(num)
  num = num-1
print(f"Sum of factorial is : {factorialValue}")
print(f"List : {factList}")

Enter a number = 6
6 *
5 *
4 *
3 *
2 *
1 *
Sum of factorial is : 720
List : [6, 5, 4, 3, 2, 1]

In [ ]:
num = int(input("Enter no of number = "))

for x in range(0,num):
  print("*" * (x + 1) )

  
for x in range(num):
  print(" " * (num-x-1) , end="-")
  print("*" * (2*x+1), end="?") 
  print(" " * (num-x-1))

Enter no of number = 5
*
**
***
****
*****
    -*?
   -***?
  -*****?
 -*******?
-*********?

Functions  def functionName():

In [ ]:
def add(x,y):
  z = x+y
  return z
  

Num = add(5,4)
Num1 = add(5,45)
Num2 = add(5,43)
print("Addition is = ",Num1)

Addition is =  50

Python Function With Arbitrary Arguments
Sometimes, we do not know in advance the number of arguments that will be passed into a function. To handle this kind of situation, we can use arbitrary arguments in Python.

Arbitrary arguments allow us to pass a varying number of values during a function call.

We use an asterisk (*) before the parameter name to denote this kind of argument. For example,

In [ ]:
# program to find sum of multiple numbers 
def find_sum(*numbers):
    result = 0
    
    for num in numbers:
        result = result + num
    
    print("Sum = ", result)

# function call with 3 arguments
find_sum(1, 2, 3)

# function call with 2 arguments
find_sum(4, 9)

Sum =  6
Sum =  13

Recursive Function<br>
In this tutorial, you will learn to create a recursive function (a function that calls itself).
Recursion is the process of defining something in terms of itself. A physical world example would be to place two parallel mirrors facing each other. Any object in between them would be reflected recursively.

In [ ]:
def factorial(x):
    if x == 1:
        return 1
    else:
        return (x * factorial(x-1))

num = 3
print("The factorial of", num, "is", factorial(num))

The factorial of 3 is 6

Recusrive function to add n numbers of natural numbers

In [ ]:
def add(x):
  if x==1:
    return 1
  else:
    return (x + add(x-1))

num=10

print("Sum of first nnatural number is = ", add(num))

Sum of first nnatural number is =  55

Snake Water Gun Game

In [ ]:
import random

# Snake Water Gun or Rock Paper Scissors
def gameWin(comp, you):
    # If two values are equal, declare a tie!
    if comp == you:
        return None

    # Check for all possibilities when computer chose s
    elif comp == 's':
        if you=='w':
            return False
        elif you=='g':
            return True
    
    # Check for all possibilities when computer chose w
    elif comp == 'w':
        if you=='g':
            return False
        elif you=='s':
            return True
    
    # Check for all possibilities when computer chose g
    elif comp == 'g':
        if you=='s':
            return False
        elif you=='w':
            return True

print("Comp Turn: Snake(s) Water(w) or Gun(g)?")
randNo = random.randint(1, 3) 
if randNo == 1:
    comp = 's'
elif randNo == 2:
    comp = 'w'
elif randNo == 3:
    comp = 'g'

you = input("Your Turn: Snake(s) Water(w) or Gun(g)?")
a = gameWin(comp, you)

print(f"Computer chose {comp}")
print(f"You chose {you}")

if a == None:
    print("The game is a tie!")
elif a:
    print("You Win!")
else:
    print("You Lose!")

Comp Turn: Snake(s) Water(w) or Gun(g)?
Your Turn: Snake(s) Water(w) or Gun(g)?s
Computer chose s
You chose s
The game is a tie!

**File I/O**

In [ ]:
# open a file
# file1 = open("test.txt", "r")

# read()
# read_content = file1.read(5) # read 5 characters from the file

# readline()
# read_content = file1.readline()  # read one line from the file

# print(read_content)

# write()
f = open("test.txt", "a")
f.write("Please write to the file67868678")
f.close()

# with Statement
with open('another.txt', 'r') as f:
    file1 = f.read()  # no need to close() the file with statment
print(file1)

# to search fr a word in a logfile.txt we can use this code

if "python" in file1:
  print("python is present in file")
else:
  print("python is not present in the file")

Table Generation Write()

In [ ]:
for i in range(2, 21):
    with open(f"Table_of_{i}", 'w') as f:
        for j in range(1, 11):
            f.write(f"{i}x{j}={i*j}\n")


# The above code will create 20 files of tables with the mulyiplication tables.

Replace a words (donkey) occured multiple times with ####

In [ ]:
with open("donkey.txt" , 'r') as f:
  content = f.read()

constent = content.replace("donkey" , "####")

with open("donkey.txt" , 'w') as f:
  f.write(content)


#This will override donkey word with #### in all the file

# To wipeout the content of a file simple wirte

f.write("") # This will wipeout all the content

delete file using  os.remove()

In [ ]:
import os
oldname = 'sample.txt'
os.remove(oldname)